/* 2016 © Lane Peeler & Jasmine Jones */

* {
  font-family: Helvetica, sans-serif;
}

img {
  display: block;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

div {
  border: 3px red solid;
  margin: 0 auto;
  width: 60%;
}

a {
  font-weight: bold;
  margin-left: 2em;
}

#index-p1 {
    margin-bottom: 0;
}

#index-p2 {
    margin-top: .3em;
}